{{#if model}}
  {{cf-content documentId=model}}
  <div class="uk-align-right">
    <button class="uk-button uk-button-danger uk-margin-xlarge-top" {{action (mut showModal) true}}>{{t "documents.delete" }}</button>
  </div>

  {{#uk-modal
      visible=showModal
      btnClose=true
      escClose=true
      bgClose=true
      on-hide=(action (mut showModal) false)
  }}
    <div class="uk-margin-medium-bottom">
      {{ t "forms.edit"}}
    </div>
    <button class="uk-button uk-button-primary" {{action (mut showModal) false}}>{{t "general.no"}}</button>
    <button class="uk-button uk-button-danger" {{action "deleteDocument" model}}>{{t "general.yes"}}</button>
  {{/uk-modal}}
{{/if}}