{{#link-to "documents.new"}}
  {{#uk-button
    color="primary"
    size="large"
    fill=true
  }}
    {{t "forms.new"}}
  {{/uk-button}}
{{/link-to}}
<table class="uk-table uk-table-hover">
  <thead>
    <tr>
      <th>
        {{t "documents.form" }}
      </th>
      <th>
        {{t "documents.description" }}
      </th>
      <th>
        {{t "documents.state" }}
      </th>
    </tr>
  </thead>
  {{#each this.model as |document|}}
    <tbody>
      <tr>
        <td class="uk-text-truncate uk-width-1-4">
          <LinkTo @route="documents.edit" @model={{decode-id document.node.id}} title={{document.node.form.name}}>{{document.node.form.name}}</LinkTo>
        </td>
        <td class="uk-width-2-4" title={{document.node.form.description}}>
          {{trim-description document.node.form.description 150}}
        </td>
        <td class="uk-text-nowrap uk-width-1-4">
          {{format-date document.node.createdAt timeZone="UTC"}},
          {{format-date document.node.createdAt hour="numeric" minute="numeric" second="numeric"}}
        </td>
      </tr>
    </tbody>
  {{else}}
    <tbody>
      <tr>
        <td>
          {{t "documents.not-found"}}
        </td>
      </tr>
    </tbody>
  {{/each}}
</table>