{{#if this.model}}
  <div uk-height-match="target: > div > .uk-card > .uk-card-body" class="uk-grid-small uk-child-width-1-4@s uk-text-center" uk-grid>
    {{#each this.model as |form|}}
      <div>
        {{#uk-card  hover=true color="default" as |card|}}
          {{#card.header}}
            {{#card.title}}
              <div class="uk-text-truncate" title={{form.node.name}}>
                {{form.node.name}}
              </div>
            {{/card.title}}
          {{/card.header}}
          {{#card.body}}
            <div class="uk-text-left" title={{form.node.description}}>
              {{trim-description form.node.description 150}}
            </div>
          {{/card.body}}
          {{#card.footer}}
            <button class="uk-button uk-button-primary" {{action "createDocument" form.node.slug}}>{{t "forms.create" }}</button>
          {{/card.footer}}
        {{/uk-card}}
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="uk-text-center">
    {{t "forms.not-found"}}
  </div>
{{/if}}