<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-center uk-flex uk-flex-column">
    <LinkTo @route="index"><img src="/assets/caluma_icon.png" class="uk-margin-top" alt={{t "nav.icon"}}></LinkTo>
    <ul class="uk-navbar-nav">
      <li><LinkTo @route="index">{{t "nav.home" }}</LinkTo></li>
      <li><LinkTo @route="form-builder">{{t "nav.form-builder" }}</LinkTo></li>
      <li><LinkTo @route="documents">{{t "nav.show-forms" }}</LinkTo></li>
      <li>
        <a href="#">
          {{t "nav.language"}} 
        </a>
        <div uk-dropdown>
          <ul class="uk-nav">
            {{#each languages as |language|}}
              <li class={{if (eq language intl.primaryLocale) "uk-active"}}>
                <a href="#" class="uk-link-muted" {{action "setLanguage" language}}>
                  {{t (concat "nav." language)}}
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>